body{
  background-image: url(./image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: black;
  height: 100%;
  /* justify-content: center; */
}
.container{
  background-color: white;
  margin: 50px 20px;
  padding: 30px;
  display: flex;
  border: 1px solid #3689f7;
  flex-direction: column ;
  height: auto;
  margin-left: 25% ;
  width: 45%;
}
h2{
  text-align: center;
  color: #3689f7;
}
input{
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  justify-content: center;
  min-width: 50px;
  width: auto;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.container button {
  margin: 5px 10px;
  padding: 5px 10px;
  border: none;
  background-color: #3689f7;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.container button:hover {
  background-color: #0056b3;
}
.details{

  border-bottom: 1px solid #3689f7;
 display:flex;
 align-items: center; 
 justify-content: space-between
}
.add{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

@media (max-width: 450px) {
  .container {
    margin: 10px;
    width:auto;
  }
  .details{
    display: flex;
    flex-direction: column;
    align-items: st;
    
    width: 100%
  }
  .add{
    display: flex;
    flex-direction: column;
  }
  .add input{
    margin: 5px;
  }
}


